    <nav class="nav">
        <div class="container nav__content">
            <a href="/" class="nav__logo">edu.ramirez</a>
            <ul class="nav__links">
                <li><a href="/" class="nav__link">Home</a></li>
                <li><a href="/blog" class="nav__link">Blog</a></li>
                <li><a href="/about" class="nav__link">About</a></li>
                <li>
                    <div class="lang-switcher">
                        <a href="/en" class="lang-link active">EN</a>
                        <a href="/es" class="lang-link">ES</a>
                        <a href="/ca" class="lang-link">CA</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
